[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
langchain = "*"
openai = "*"
faiss-cpu = "*"
watchdog = "*"
"pdfminer.six" = "*"
tiktoken = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
